#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  color: black;
  /* background-color: white; */
}
 body {
  margin: 0;
  display: flex;
  place-items: center;
}

p {
  font-size: 17px;
}

button{
 background-color: #886f6f;
 border-radius: 5px;
 width: 50px;
}

input.correct {
  border: 3px solid rgb(3, 232, 3);
}

input.wrong {
  border: 3px solid red;
}

